body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}
/* test */
.task-card:hover {
  cursor: grab;
}

article.done{
  background: rgb(13, 195, 65) !important;
}

article.inProgress{
  background: rgb(240, 240, 9) !important;
}

article.started{
  background: #bd6e6c !important;
}